
.jumbotron-fluid {
   background-color: #4b62fb
}

.search {
    display: inline-block;
    width: 81rem;
    justify-content:center
}

.btn{
    background-color: #ce6924;
}

#stats-container{
    margin-top: 4rem;
    box-shadow: 5px 10px 20px;
}
.spinner{
    margin-left: 5rem;
}
.headers {
    font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
    font-size: 40px;
    font-weight: 600;
    text-decoration: underline;
    margin-top: 2rem;

}